.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
  height: 6rem;
  width: 6rem;
  animation: rotate 2s infinite linear;
}

.spinner-div {
  display: flex;
  justify-content: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.color-value-card {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  display: inline-flex;
}

@media (max-width: 1200px) {
  .dropdown {
    right: 50px;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 765px) {
  .dropdown {
    right: 50px;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}
