<div class="dropdown no-visible">
    <ul class="inline-list">
        <% if user_signed_in? %>
            <% if request.path != root_path %>
                <li><%= link_to 'Home', root_path %></li>
            <% end %>
            <% if policy(Bicycle).new?  %>
                <li><%= link_to 'Upload Bicycles', new_bicycle_path %></li>
            <% end %>
            <% if policy(Customization).new? %>
                <li><%= link_to 'Add customizations', new_customization_path %></li>
            <% end %>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% end %>
    </ul>
</div>